*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
@font-face{
    font-family: Engcomica;
    src: url(./font/Engcomica.otf);
}

section{
    width:100%;
    height:50vh;
    font-family: Roboto, serif;
}
section:first-of-type{
    height:100vh;
}
section#menu{
background-image: url("./img/mctlo.jpg");
background-attachment: fixed;
background-position: center;
background-size:cover;
position: relative;
}
section#menu main{
    position: absolute;
    font-family: Engcomica, serif;
    text-align:center;
    color:black;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:linear-gradient(#efff09,rgb(255, 145, 0));
    box-shadow: 0px 0px 50px black;
    padding:30px;
}
section#menu main h1{
    font-size:100px;
}
section#menu main h2{
    font-size:50px;
}
section{

text-align: center;
}
section article#shop{
    width:50%;
    height:100%;
    color:black;
    display:inline-block;
    float:left;
    position: relative;
    background-image:url("./img/mcitemy.png");
    background-color:#DDDDDD;
background-position: center;
background-size:contain;
}

section article#shop div{
    background-color:rgb(255, 145, 0);
    box-shadow: 0px 0px 50px black;
    padding:30px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position: absolute;
    color:black;
    transition: 0.5s;
}
section article#shop:hover{
    background-color:rgb(255, 145, 0);
    transition: 0.5s;
}
section article h1{
    font-size:40px;
}
section article h2{
    font-size:20px;
}
section article nav{
    position: absolute;
}
section article#discord{
    width:50%;
    height:100%;
    display:inline-block;
    float:left;
    background-image:url("./img/discord1.png");
    background-color:#DDDDDD;
    background-position:center;
    background-size:100%;
    background-repeat:no-repeat;
    transition: 0.5s;
}
section article#discord:hover{
    background-color:rgb(255, 145, 0);
    transition: 0.5s;
}
section article#youtube{
    width:50%;
    height:100%;
    display:inline-block;
    float:left;
    background-image:url("./img/yt.png");
    background-color:white;
    background-position:center;
    background-size:100%;
    background-repeat:no-repeat;
    transition: 0.5s;
}
section article#youtube:hover{
    background-color:rgb(255, 145, 0);
    transition: 0.5s;
}
section article#info{
    width:50%;
    height:100%;
    color:black;
    display:inline-block;
    float:left;
    position: relative;
    background-image:url("./img/mcinfo.png");
    background-color:white;
background-position: left;
background-size:contain;
}

section article#info div{
    background-color:rgb(255, 145, 0);
    box-shadow: 0px 0px 50px black;
    padding:30px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position: absolute;
    color:black;
    transition: 0.5s;
}
section article#info:hover{
    background-color:rgb(255, 145, 0);
    transition: 0.5s;
}
section#ip{
    background-image:url("./img/iptlo1.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
section#ip div{
    position: absolute;
    text-align:center;
    color:white;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-shadow: 5px 0px 2px black;
    padding:30px;
}
section#ip div h1{
    font-size:70px;
}
section#ip div h2{
    font-size:50px;
}
.seemore{
    font-size: 30px;
    font-family:Roboto, serif;
    position: absolute;
    top:80%;
    left:50%;
    transform:translate(-50%,0);
    color:white;
    text-shadow: 0 0 10px black;
    text-align: center;
    text-decoration: none;
    }
    .seemore i {
        animation-name: skoki;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
    @keyframes skoki{
        0%{transform:translate(0,0%);}
        50%{transform:translate(0,-15%);}
        100%{transform:translate(0,0%);}
    }